.container {
    position: relative;
}

.container img {
    display: block;
     :hover {
        background-color: orange;
    }
}

.container .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: gray;
}