.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f7;

    text-align: center;
 }

 .footer > span{
    line-height: 4px;
    vertical-align: middle;
 }
 .border {
    border: 1px solid #cfd1d3;
  }
