<mat-accordion class="menu-listing-container1">

    <ng-container *ngFor="let menuItem of items">
        <ng-container *ngxPermissionsOnly="menuItem.permissions">



            <mat-expansion-panel [hideToggle]="!menuItem?.child" [disabled]="!menuItem?.child">
                <mat-expansion-panel-header (click)="redirect(menuItem)">
                    <mat-panel-title class="clickable">
                        <mat-icon>{{menuItem.icon}}</mat-icon> {{ menuItem.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <menu [items]="menuItem?.child" (toggleSideNav)="closeNav()"> </menu>
            </mat-expansion-panel>
        </ng-container>
    </ng-container>

</mat-accordion>